<div class="bigbox"ng-cloak layout="column" flex>

  <div class="routes" ng-show=true>
  <md-list  ng-show="ctrl.loggedIn" class="md-dense" flex>
    <md-subheader class="md-no-sticky">Bookings</md-subheader>
    <md-list-item class="md-3-line" layout="row" layout-align="center center" ng-repeat="items in bookings">
      <div layout="row" layout-align="center center" >
      <div layout="column" layout-align="center center">
        <div layout-align="center center">
      <i class="material-icons" >location_on</i>
      <i class="material-icons">location_off</i>
        </div>
      <div class="md-list-item-text" layout="column" layout-align="start">
        <p>Total Flight time: {{items.flightTime}}</p>
        <p>Total Layover: {{items.layover}}</p>
        <p>Total Travel time: {{items.layover + items.flightTime}}</p>
      </div>
      </div>
      <md-list-item class="md-3-line" ng-repeat="item in items.flights">
        <div class="md-list-item-text" layout="column" layout-align="start">
          <h3>From {{ item.origin }} to {{ item.destination }}</h3>
          <h4>Takes off at: {{ item.offset }} and lands at: {{ item.flightTime + item.offset }}</h4>
          <p>Flight time: {{ item.flightTime }}</p>
          <div layout="row">
          <i class="material-icons" ng-click="ctrl.drawPath(item)">location_on</i>
          <i class="material-icons" ng-click="ctrl.clearPath(item)">location_off</i>
        </div>
        </div>
      </md-list-item>
    </div>
    </md-list-item>
  </md-list>
  </div>


  </div>
